@import '../../styles/index.scss';

.login-page {
  padding: 32px;

  .wrapper {
    height: 100vh;
    
    display: flex;
    align-items: center;

    &::after {
    content: '';
    width: 1000px;
    height: 960px;
    background: url('../../assets/images/login-bg.jpg') center no-repeat;
    position: absolute; 
    z-index: -1;
    right: 32px; 
    top: 32px; 
    border-radius: 50px 10px;
    }
  }
}

@media (max-width: 1199px) {
  .login-page {
    padding: 10px;

    .wrapper {
      &::after {
        right: 0;
      }
    }
  }
}
