@import '../../../styles/index.scss';

.overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: visible;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: relative;
  overflow-y: scroll;

  &__btn {
    position: relative;
    top: -80px;
    z-index: 998;
    width: 48px;
    height: 48px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__content {
    &--cookbook {
      max-width: 1016px;
      width: 100%;
      background: $white;
      padding: 72px 56px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

    .pop-up--cookbook {
      &__title {
        @include title-40();

        max-width: 544px;
        margin-bottom: 0;
      }

      &__btn {
        @include button-dark;
        width: 277px;
        height: 54px;
      }

      &__author {
        margin-bottom: 40px;

        a {
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $primary-yellow;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__image {
        display: flex;
        width: 440px;
        overflow: hidden;
        border-radius: 10px 50px;
        background-size: 100% !important;
        margin-right: 16px;
      }

      &__section {
        &__title {
          @include title-20();
          margin-bottom: 40px;
        }

        &--top {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-bottom: 16px;
        }

        &--description {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          margin-bottom: 32px;

          &__text {
            max-width: 424px;
            margin-left: 16px;
            min-height: 246px;

            p {
              margin: 0;
            }
          }
        }

        &--statistics {
          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 72px;

          .card {
            &__statistics-item {
              margin-right: 24px;
              line-height: 19px;

              display: flex;
              flex-wrap: nowrap;
              align-items: center;

              &:last-child {
                margin-right: 0;
              }

              &__icon {
                margin-right: 8px;
                width: 15px;
                height: 15px;
              }

              &--likes {
                margin-right: 24px;
                line-height: 19px;

                display: flex;
                flex-wrap: nowrap;
                align-items: center;
              }
            }
          }
        }

        &--recipes {
          margin-bottom: 104px;
        }
      }
    }
    }
    
  }
}

@media (max-width: 1199px) {
  .overlay {
    &__content {
      &--cookbook {
        padding: 40px 30px 40px 30px;

        .pop-up--cookbook {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__image {
            margin-right: 0;
            width: 100%;
            height: 200px;
            margin-bottom: 24px;
          }

          &__title {
            font-size: 30px; 
            text-align: center;
          }

          &__section {
            &--top {
              flex-direction: column;
              align-items: center;
            }

            &--statistics {
              margin-bottom: 24px;
            }

            &--description {
              flex-direction: column;
              

              &__text {
                max-width: none;
                margin-left: 0;
              }
            }

            &--comments {
              width: 100%;
            }

            &__title {
              text-align: center;
              
            }
          }

          &__title {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 639px) {
  .overlay {
    &__content {
      &--cookbook {

        .pop-up--cookbook {
          &__image {
            width: 100%;
            height: 200px;
          }

          &__btn {
            width: auto;
          }

          &__section {
            &--top {
              flex-direction: column;
              align-items: center;
            }

            &--description {
              flex-direction: column;
              

              &__text {
                max-width: none;
                margin-left: 0;
              }
            }

            &--comments {
              width: 100%;
            }

            &__title {
              text-align: center;
              
            }

            &--statistics {
              .card__statistics-item {

                span {
                  display: none;
                }

                &--likes {
                  span {
                    display: none;
                  }
                }
              }
            }
          }

          &__title {
            font-size: 24px;
          }
        }
      }
    }
  }
}