@import '../../../styles/index.scss';

.overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: visible;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: relative;
  overflow-y: scroll;

  &__btn {
    position: relative;
    top: -80px;
    z-index: 998;
    width: 48px;
    height: 48px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__content {
    max-width: 1016px;
    width: 100%;
    background: $white;
    padding: 72px 56px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.pop-up--modify {
  &--column {
    flex-direction: column;
  }

  &__title {
    @include title-40();

    max-width: 544px;
    margin-bottom: 0;
  }

  &__btn {
    @include button-dark;
    width: 277px;
    height: 54px;
  }

  &__author {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $primary-yellow;
    margin-bottom: 40px;
  }

  &__image {
    &--cookbook {
      position: relative;
      display: flex;
      width: 440px;
      overflow: hidden;
      border-radius: 10px 50px;
      background-size: 100% !important;
      opacity: 0.5;
      margin-right: 16px;
    }
  }

  &__section {
    &__title {
      @include title-20();
      margin-bottom: 40px;

      &--editable {
        @include title-40();
        width: 50%;
        margin-right: 16px;
        margin-bottom: 0;

        &:disabled {
          background: none;
        }
      }
    }

    &--top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &--description {
      display: flex;
      flex-wrap: nowrap;

      width: 100%;
      margin-bottom: 32px;

      &__container {
        width: 50%;
        margin-left: 16px;
        height: 250px;
        display: flex;
        flex-direction: column;
      }

      &__text {
        max-width: 424px;
      }
    }

    &--statistics {
      @include statistics-data;

      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 72px;
    }

    &--recipes {
      &__cards {
        margin-bottom: 72px;
      }
    }
  }

  &__btns {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    &__btn {
      @include button-dark;
      width: 130px;
      height: 62px;

      &--light {
        @include button-light;
        height: 62px;
        margin-right: 40px;
      }
    }
  }

  &__input {
    &--select {
      margin-bottom: 24px;
      padding: 10px 16px;
      width: 100%;
      border: 1px solid #dadada;
      border-radius: 10px;
    }

    &--textarea {
      width: 100%;
      margin-right: 40px;
      border: none;
      resize: none;
      display: block;
      background: $grey-light;
      padding: 5px;
      flex-basis: 100%;
      flex-shrink: 1;

      &:disabled {
        background: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .profile-page--cookbooks {
    .overlay {
    &__content {
        padding: 40px 30px;

        .pop-up--modify {
          &--column {
            display: flex;
            flex-direction: column;
          align-items: center;
          margin-bottom: 24px;
          padding-left: 0;

          
          }

          &__input {
            &--file {
              width: 440px;
              height: 200px;
            }

            &--textarea {
              margin-right: 0;
            }

            &--select {
              width: 100%;
            }
          }

          &__image {
            &--cookbook {
              min-height: 200px;
              position: static;
            margin-bottom: 24px;
            margin-right: 0;
            }
            
          }


          &__sections {
            padding-left: 0;
            align-items: center;
          }

          &__section {
            &--top {
              flex-direction: column;
              align-items: center;
              margin-right: 0;
            }

            &--add {
              width: 100%;
            }
            
            &--information {
              width: 100%;

              &__ingredients {
                flex-basis: 50%;
              }
            }

            &--comments {
              &__title {
                text-align: center;
              }
            }

            &--description {
              flex-direction: column;
              align-items: center;

              &__container {
                align-items: center;
                width: 100%;
                margin-left: 0;
              }
            }

            &__title {
              text-align: center;

              &--editable {
                font-size: 30px;
              text-align: center;
              margin-right: 0;
              }
              
            }
          }
          
        }
      
      
      
    }
  }
  }
  
}


@media (max-width: 639px) {
  .profile-page--cookbooks {
    .overlay {
    &__content {
        padding: 40px 30px;

        .pop-up--modify {
          flex-direction: column;
          align-items: center;
          margin-bottom: 24px;

          &__title {
            font-size: 24px;
          }

          &__image {
            &--cookbook {
               position: static;
            margin-bottom: 24px;
            width: 200px;
            height: 200px;
            }
           
          }

          &__sections {
            padding-left: 0;
            align-items: center;
          }

          &__input {
            &--file {
              width: 200px;
              height: 200px;
            }

            &--textarea {
              margin-right: 0;
            }
          }

          &__btns {
            flex-direction: column;
            align-items: center;

            &__btn {
              &--light {
                margin-right: 0;
                margin-bottom: 24px;
              }
            }
          }

          &__section {
            flex-direction: column;

            &__container {
              margin: 0;

              .pop-up--modify__section__title {
                margin-bottom: 5px;
              }
            }

            &--top {
              margin-right: 0;
              flex-direction: column;
              align-items: center;
            }

            &--information {
              width: 100%;
              flex-direction: column;
              align-items: center;

              &__directions {
                margin-bottom: 24px;
              }

              

              &__ingredients {
                flex-basis: 50%;
              }
            }
            
            &--description {
                &--recipe {
                  flex-direction: column;
                  align-items: center;
                }
              }

            &--comments {
              &__title {
                text-align: center;
              }
            }

            &__title {
              &--editable {
                margin-right: 0;
              text-align: center;
              }
              
            }
          }

        }
      
      
      
    }
  }
  }
  
}
