@import '../../styles/index.scss';

.sign-up-page {
  padding: 32px;

  &__wrapper {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    &::after {
      content: '';
      width: 1000px;
      height: 960px;
      background: url('../../assets/images/signup-bg.jpg') center no-repeat;
      position: absolute;
      z-index: -1;
      left: 32px;
      top: 32px;
      border-radius: 50px 10px;
    }
  }
}

@media (max-width: 1199px) {
  .sign-up-page {
    padding: 10px;

    &__wrapper {
      &::after {
        left: 0;
      }
    }
  }
}