@import './colors.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: $main;
}

body {
  margin: 0 auto;
}

#root {
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1680px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1244px;
}

.pagination {
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a{
  background-color: $primary-yellow ;
  border-color: $primary-yellow ;
  color: $white;
}
.pagination > li > a{
  border: 1px solid $primary-yellow ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: $primary-yellow ;
  border-color: $primary-yellow;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: $primary-yellow;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: 0;
}
